@font-face {
    font-family: 'il-icons';
    src: url('http://127.0.0.28:8080/Customizing/global/skin/skin_medi_ilias_7/fonts/Iconfont/il-icons.woff') format('woff'), url('http://127.0.0.28:8080/Customizing/global/skin/skin_medi_ilias_7/fonts/Iconfont/il-icons.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.collapsed:before {
    font-family: 'il-icons';
    content: '\e606';
}